{% load static %}
<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Control de alimentación</title>
<link rel="stylesheet" href="/static/css/styles.css">
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
</head>
<body>
<header>
<h1>Control de alimentación</h1>
<nav>
<a href="/">Inicio</a>
<a href="/alimentos/">Alimentos</a>
<a href="/categorias/">Categorias</a>
<a href="/servicios/nuevo/">Nuevo Servicio</a>
<a href="/admin/almuerzo/menu/">Creación Menu</a>
<a href="/menu/porfecha/">Ver Menus</a>
{#<a href="/alimentos/nuevo/">Nuevo alimento</a>#}
{#<a href="/platos/nuevo/">Nuevo plato</a>#}
{#<a href="/servicios/nuevo/">Registrar servicio</a>#}
{#<a href="/estadisticas/">Estadísticas</a>#}
<a href="/admin/" target="_blank">Admin</a>
</nav>
</header>
<main>
<section>
{% block content %}
<p>Usa el menú para navegar.</p>
{% endblock %}
</section>
</main>
<footer>
<small>&copy; {% now "Y" %} Control de alimentación</small>
</footer>
</body>
</html>